<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> dev
=======
>>>>>>> dev
*{
  padding: 0;
  margin: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD

body{
  background: rgb (5, 200, 200)
}
d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm{
  width: 100%;
    height:250px;
    background-color:rgb (5, 200, 200);
    border-top 5px solid #778492;
}
=======
=======
>>>>>>> dev
.top-block{
  width: 100%;
  height:250px;
  background-color:#f5f5f5;
  border-top 5px solid #778492;
}
.inner-top-block{
  width: 1150px;
  height:250px;
  margin-right: 10px;
  float: right;
}
.image-block{
  width: 183px;
  height:250px;
  mergin-right:5px;
  float: left;
}
.description-block{
  width: 250px;
  height:250px;
  margin-top: 60px;
  float: left;
}
.options{
  width: 165px;
  height:250px;
  margin-top: 10px;
  float: right;
}
.bottom-blok{
  width: 150px;
  height:25px;
  float: right;
  background-color: greenyellow;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 20;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 20px 0;
}
.image-block>img{
  margin: 28px 10px;

}

.link2{
  width: 40px;
  height:40px;
  display: block;
  background-image: url(../imeges/spr.png);
  background-position: -5px -5px;
}
.description-block>h1,.description-block>h3,.description-block>h2{
  font-family: Arial;
  text-align: center  ;
<<<<<<< HEAD
}
>>>>>>> dev
=======
}
>>>>>>> dev
