/*Header styles*/
.navbar {
	height: 3em;
	color: #fff;
	font-size: 1.5em;
	user-select: none;
	margin:0;
	padding:0;
	position: relative;
	background: green;
	z-index: 2;
}

.navbar ul {
	list-style:none;
}

.navbar .hidden {
	display: none;
}

/*Auth form*/
.authContainer {
	margin:0;
	padding:0;
	position: absolute;
	top: 5em;
	left: 50%;
	transform: translate(-50%, 0);
	width: 20em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 2em 1.5em;
	border-radius: 0.5em;
	border: 1px solid #52515163;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	font-weight: bolder;
	color: #525151;
	box-shadow: 0 0 20px rgba(82, 81, 81, 0.7);
	background: #fff;
	z-index: 1000;
	transition: top 0.3s;
}

.authContainer .hidden {
	display: none;
}

.authContainer .textRight {
	text-align: right;
}

.authContainer .formSwitchers {
	white-space: nowrap;
	margin-bottom: 2em;
	user-select: none;
}

.authContainer .formSwitchers>span {
	display: inline-block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 50%;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}

.authContainer .formSwitchers>span.active {
	border-bottom: 3px solid #e0c92f;
	border-bottom: 3px solid #d09b1cb8;
}

.authContainer .formSwitchers>span:hover {
	font-weight:bold;
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
	color: #bb6439;
}

.authContainer .formInput:not(:last-child) {
	margin-bottom: 1.2em;
}

.authContainer .formInput label {
	display:block;
	margin-bottom: 0.5em;
	user-select: none;
}

.authContainer .formInput input {
	display: block;
	height: 3em;
	width: 100%;
	border: 1px solid #52515163;
	border-radius: 0.4em;
	padding: 0.5em 1em;
}

.authContainer .formInput input:focus {
	outline: none;
}

.authContainer .formInput input:hover {
	box-shadow: 0 0 5px rgba(82, 81, 81, 0.5);
}

.authContainer .formInput.submit{
	padding-top: 1em;
}

.authContainer .formInput input[type="submit"] {
	height: auto;
	background: #d09b1cb8;
	font-weight: bold;
	border: none;
	letter-spacing: 0.05em;
	font-size: inherit;
	color: inherit;
}

.authContainer .formInput input[type="submit"]:hover {
	cursor: pointer;
	background: #f2b523e8;
	box-shadow: 0 0 5px rgba(82, 81, 81, 0.5);
}

.authContainer .formInput input[type="submit"]:disabled {
	cursor: default;
	background: #cbcbcb;
	box-shadow: none;
}

.authContainer .formInput input[type="text"],
.authContainer .formInput input[type="email"],
.authContainer .formInput input[type="password"]
{
	font-weight: bold;
	color: #7a7a7a;
}

.authContainer .description {
	display: table;
	width: 100%;
	font-size: 0.8em;
	font-style: italic;
	letter-spacing: normal;
	color: #969592;
	color: #797777d1;
}

.authContainer .description div {
	display: table-cell;
	width: 50%;
}

.authContainer .forgotPassword{
	font-style: normal;
}

.authContainer .forgotPassword a:hover{
	text-shadow: 0 1px 0px rgba(0, 0, 0, 0.25);
	color: #bb6439;
}

.authContainer form[name="register"] .description div{
	display: block;
	width: 100%;
}

.authContainer .error {
	font-size: 0.6em;
	color: #ed3d15;
}

.authContainer .centerText {
	text-align: center;
}

.authContainer form[name="register"],
.authContainer form[name="login"]{
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.authContainer form[name="register"].active,
.authContainer form[name="login"].active{
	overflow: visible;
	height: auto;
	opacity: 1;
	transition: 0.7s;
}

.authContainer .serverError{
	font-size: 0.6em;
	color: #ed3d15;
}

.authContainer .serverError.general{
	margin-top: -2em;
}

.shim {
	display: none;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: rgba(128, 128, 128, 0.5);
}

/*design for mobile devices*/
@media (max-width: 768px) {

	.authContainer {
		width: 70%;
	}
}
