@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.img-round{
  width: 140px;
  height: 140px;
  display: flex;
  overflow: hidden;
  margin: auto;
  border-radius: 100%
}
.img-round>img{
  margin: auto;
  width: 100% ;
  transform: scale(1,1);
}
.img-default{
  display: inline-block;
  padding: -10px;
  margin: auto;
  width: 250px;
  border-image: solid 5px;
  border-radius: 25%;
}
.menuItems-a {
  margin: auto;
  color: #fff !important;
  text-decoration: none !important;
  }
.create-form{
	top: 5em;
	margin: auto;
	width: 20em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 2em 1.5em;
	border-radius: 0.5em;
	border: 1px solid #52515163;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	font-weight: bolder;
	box-shadow: 0 0 20px rgba(82, 81, 81, 0.7);
	background: #fff;
	z-index: 1;
	transition: top 0.3s;
}
.create-form .textRight {
	text-align: right;
}

.create-form .formInput:not(:last-child) {
	margin-bottom: 1.2em;
}

.create-form .formInput label {
	display:block;
	margin-bottom: 0.5em;
	user-select: none;
}

.create-form .formInput input {
	display: block;
	height: 3em;
	width: 100%;
	border: 1px solid #52515163;
	border-radius: 0.4em;
	padding: 0.5em 1em;
}

.create-form .formInput.submit{
	padding-top: 1em;
}
.create-form .formInput input[type="submit"] {
	height: auto;
	background: #d09b1cb8;
	font-weight: bold;
	border: none;
	letter-spacing: 0.05em;
	font-size: inherit;
	color: inherit;
}
.errors{
  width: 30%;
  margin: auto;
}
