*{
	padding:0;
	margin:0;
}
.space-block{
  height: 15px;
  background: rgba(50,205,50,0.85);
}
.space-block2{
  height: 10px;
}
.top-block{
  width: 500px;
  margin: auto;
  border:5px solid OliveDrab;
}
input{
  background: white;
}
form{
  background: rgba(50,205,50,0.85);
}
